.btn {
	color: white;
	font-weight: 700;
	line-height: 2.0;
	letter-spacing: 0.5px;
	padding: 10px 40px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
}

.btn:hover {
	background: linear-gradient(55.95deg, #e23933 0%, #ca4d05 100%);
}

.btn--border {
	color: #FF3F3A;
	border: 1px solid #FF3F3A;
	background: transparent;
	padding: 9px 39px;
}

.btn--border:hover {
	border: none;
	padding: 10px 40px;
	color: white;
}


.title {
	color: #1E212C;
}

.title__header {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}

.title__sub {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.cart {
	flex: 0 1 33.3333%;
	padding: 0 15px;
	margin-bottom: 20px;
	display: flex;
}

.cart__item {
display: flex;
flex-direction: column;
}

.cart__image {
	position: relative;
	padding-bottom: 76.923%;
	/*300/390*/

}

.cart__text:not(:last-child),
.cart__image:not(:last-child) {
	margin-bottom: 16px;
}

.cart__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cart__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}

.cart__title:not(:last-child) {
	margin-bottom: 8px;
}

.cart__text {
	flex: 1 1 auto;
}


.cart__link {
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	gap: 8px;
}

.cart__link:hover {
	text-decoration: underline;
	color: #FF3F3A;
	;
}

.cart__link::after {
	align-items: center;
	content: "";
	flex: 0 0 24px;
	height: 24px;
	width: 24px;
	background: url('../img/icons/right.svg') no-repeat;
	transition: all 0.3s ease 0s;
}

.cart__link:hover::after {
	transform: scale(1.5);
}


@media (max-width: 990.98px) {

	.cart {
		flex: 0 1 50%;
	}

	.cart:last-child {
		flex: 1 1 100%;
	}

	.title__header {
		font-size: 30px;
	}

}

@media (max-width: 767.98px) {
	.cart {
		flex: 1 1 100%;
	}

	.title__header {
		font-size: 24px;
	}

	.btn {
		display: flex;
		justify-content: center;
	}

}