/* ====================== ШРИФТИ =============================== */

/*----------------- Підключення шрифтів ----------------------- */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
	font-family: "MontereyFLF";
	src: url("../fonts/MontereyFLF.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "MontereyFLF";
	src: url("../fonts/MontereyFLF-Italic_1.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "MontereyFLF";
	src: url("../fonts/MontereyMediumFLF_1.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "MontereyFLF";
	src: url("../fonts/MontereyFLF-Bold_1.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


.main {
	max-width: 1920px;
}

.figma {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-width: 810px;
	padding-top: 38px;
	margin: 0 auto;
	margin-bottom: 100px;
}

h1.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin-bottom: 92px;
}

.description,
.quote {
	margin-bottom: 48px;
}

.image {
	max-width: 100%;
	margin-bottom: 60px;
}

h2.title,
.quote {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}

.quote {
	padding-left: 58px;
}

h2.title,
.text {
	margin-bottom: 24px;
}

.list.text {
	margin-bottom: 24px;
}

.paragraph-one {
	margin-bottom: 25.6px;
}

li {
	padding-left: 32px;
	padding-bottom: 4px;
}

.text-end {
	margin-top: 20px;
}


/*-------------------------------------*/

.lesson {
	font-family: "MontereyFLF", serif;
}

.lesson div {
	padding: 50px 0;

}

.lesson .title {
	text-transform: uppercase;
	text-align: center;
	color: red;
	font-size: 100px;
	text-shadow: 3px 3px 10px red;
}

.section-one {
	min-width: 500px;
	font-weight: 500;
}

.section-two {
	max-width: 600px;
}

.item {
	width: 200px;
	margin: 0 auto;
	font-style: italic;

}

.section-three {
	height: 200px;
	font-size: 50px;
	overflow: scroll;
	box-shadow: inset 10px 10px 2px 5px #008800;
}

.section-three p {
	visibility: hidden;
}

.section-four {
	min-height: 500px;
	overflow: auto;
	border: 2px dotted #ffff00;
}

.section-five {
	max-height: 100px;
	overflow: hidden;
	display: inline;
	font-weight: 700;
}

.section-six {
	border-top: 2px solid red;
	border-right: 4px dotted blue;
	border-bottom: 10px double green;
	border-left: 20px dashed yellow;
}

.section-seven {
	box-shadow: 10px 10px 20px 10px #010848;
}

.section-eight {
	outline: #00ffff;
	opacity: 0.2;
}

.section-eight p {
	border: 10px solid #00ff00;
	display: inline-block;
	padding: 50px;
}

.lesson .image {
	max-width: 100%;
	padding: 50px;
	border-radius: 68% 32% 32% 68% / 37% 37% 63% 63%;
	box-shadow: 10px 10px 30px #ffff00;
}

.section-nine {
	opacity: 0;
}

.section-ten {
	background-color: blue;
	border-radius: 50%;
}

.btn {
	background-color: rgb(235, 219, 133);
	padding: 100px;
}

.btn-btn {
	max-width: 300px;
	margin: 20px;
	padding: 20px;
	color: brown;
	font-size: 30px;
	font-weight: 700;
	border-radius: 15px 50px 15px 50px;
	box-shadow: 10px 10px 30px #e4dac2, -10px -10px 30px #fff, inset 10px 10px 30px #e4dac2, inset -10px -10px 30px #fff;
}